.img {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--COLOR-SLATE-400);
  height: 12rem;
  width: 12rem;
}

.img-container {
  max-width: 52vw;
}

.img-responsive {
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--COLOR-SLATE-400);
  width: 100%;
}

.img-round {
  border-radius: 50%;
}

.img-square {
  border-radius: 2rem;
}
