@import url('css/main.css');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--COLOR-SLATE-50);
  font-size: 1.6rem;
}

/** Container **/

.container {
  color: var(--COLOR-SLATE-700);
  max-width: 100rem;
  padding: 2rem;
}

/** Section **/

.section-container {
  border-top: thin solid var(--COLOR-BRAND-LIGHT);
  margin: 2rem 0;
}

.section-head {
  margin: 2rem 0;
}

.section-text {
  margin: 1rem 0 2rem;
  font-size: 1.7rem;
}
