.card {
  background: var(--COLOR-WHITE);
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--COLOR-SLATE-400);
  display: flex;
}

.card-head {
  font-size: 1.7rem;
  margin: 1rem;
}

.card-icon-btn {
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--COLOR-BRAND);
  display: flex;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
}

.card-icon-btn:hover {
  background: var(--COLOR-BRAND-LIGHT);
}

.card-text {
  font-size: 1.6rem;
  line-height: 1.4em;
  margin: 0.5rem 1rem;
}
