.card-text-overlay {
  cursor: pointer;
  position: relative;
}

.card-text-overlay-row {
  flex-direction: row;
  display: flex;
  padding: 1rem 1.5rem;
}

.overlay-content {
  align-items: center;
  background: var(--COLOR-OVERLAY);
  color: var(--COLOR-WHITE);
  display: flex;
  font-size: 2rem;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
}

.overlay-play-icon {
  font-size: 1.8rem;
  margin: 0 1rem;
}

.card-text-overlay:hover .overlay-content {
  opacity: 1;
}
