@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@500&family=Chivo:wght@900&family=Dongle&family=Inter&family=Lato:wght@700&family=Montserrat:wght@100&family=Noto+Sans:ital@0;1&family=Open+Sans&family=Oswald:wght@300&family=Poppins&family=Prompt:wght@200&family=Roboto+Condensed&family=Roboto:wght@400;700&family=Source+Sans+Pro&family=Spline+Sans:wght@500&display=swap");

:root {
  --primary-color: #fff;
  /* --highlight-color: #94849b; */
  --highlight-color: #a493ac;
  /* --highlight-color: #4fd1c5; */
  --secondary-color: #747572;

  --background-color: #1a202c;
}

.light {
  --primary-color: #1a202c;
  --background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 50%;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  max-width: 60%;
}

a {
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---Header--- */
.nav-bar {
  display: flex;
  justify-content: space-between;

  padding: 2rem 3rem 1rem;
  font-size: 1rem;

  background-color: var(--background-color);
}
.nav-list {
  display: flex;
  justify-content: space-evenly;

  color: var(--primary-color);
}
.nav-list li {
  margin-left: 2rem;
  font-size: 2rem;
}
.nav-docx {
  display: none;
}
.nav-icon {
  font-size: 2.5rem;
  margin-left: 1.2rem;
  margin-top: 1.4rem;
  cursor: pointer;
}

.brand-name {
  color: var(--primary-color);
  font-size: 3.5rem;
  /* display: none; */
  /* border: 1px solid pink; */
}
.brand-logo {
  color: var(--highlight-color);
  font-size: 4rem;
}

/* ---Landing Section--- */

.hero-section {
  text-align: center;
  padding-top: 20rem;
  height: 100vh;

  background-color: var(--background-color);
}
.hero-title {
  font-size: 4rem;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */

  margin-left: 2rem;
  margin-right: 2rem;
}
.hero-highlight {
  color: var(--highlight-color);
}
.hero-detail {
  font-size: 2rem;
  color: var(--secondary-color);

  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.start-btn {
  font-size: 2rem;
  color: var(--background-color);
  background-color: var(--highlight-color);

  margin-top: 4rem;
  padding: 2rem 9rem 2rem;

  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.git-btn {
  font-size: 2rem;
  color: #fff;
  background-color: #363b44;

  margin-top: 1.5rem;
  padding: 2rem 9.4rem 2rem;

  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.fa-github {
  padding-right: 0.8rem;
}

/* ---Features Section--- */

.feat-section {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-top: 2rem;
  font-family: "Open Sans", sans-serif;
}
.feat-head {
  font-size: 2.7rem;
}

.feat-title {
  font-size: 2.3rem;
  color: var(--background-color);

  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 550;

  border-radius: 1rem;
  background-color: #fdf4ff;
  color: var(--secondary-color);
}
.feat-img {
  width: 100%;
}
.feat-detail {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 5rem;
  padding: 1rem 1rem 3rem;
  background-color: #f8fafc;
}
.default-bg {
  background: none;
  margin-bottom: 0rem;
}
.feat-div {
  margin-bottom: 1rem;
}

/* ---Brand Section--- */

.brand-section {
  padding-left: 2rem;
  padding-right: 2rem;
}
.brand-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
}
.brand-img {
  max-width: 8rem;
  height: auto;
}
.dotted-line {
  border-top: 1px dashed var(--background-color);
  margin-left: 3rem;
  margin-right: 3rem;
  opacity: 0.5;
}
.brand-spons {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;

  margin-top: 3rem;
  margin-bottom: 5rem;
}
.brand-spons span {
  color: var(--highlight-color);
}

/* ---Footer--- */

.footer {
  padding: 4rem 3rem 2rem;
  text-align: center;
}
.footer-txt {
  color: var(--background-color);
  font-size: 1.5rem;
}
.footer-icon {
  color: black;
  padding: 1rem 0.6rem 1rem;
  color: var(--secondary-color);
  font-size: 2rem;
}
.note {
  font-size: 0.6rem;
  text-align: left;
}

/* ---BigScreen Media--- */

@media (min-width: 485px) {
  html {
    font-size: 60%;
  }
  .hero-section {
    padding-top: 10rem;
  }
  .start-btn {
    margin-right: 1.2rem;
    padding: 2rem 5rem 2rem;
  }
  .git-btn {
    padding: 2rem 5rem 2rem;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 68%;
  }
  .nav-docx {
    display: block;
    margin-top: 1.3rem;
    padding: 0.5rem 2.5rem 0rem 0rem;
    border-right: 1px solid #52525b;
  }
  .hero-detail {
    max-width: 58rem;
    margin: 0 auto;
  }
  .brand-imgs {
    width: 50rem;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .features-box {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }
  .feat-detail {
    font-size: 1.5rem;
  }
  .brand-img {
    max-width: 10.2rem;
  }
}
@media (min-width: 1024px) {
  .hero-title {
    font-size: 5rem;
  }
  .feat-head {
    font-size: 3.8rem;
    margin-top: 5rem;
  }
  .brand-spons {
    font-size: 1.5rem;
    margin-top: 6rem;
  }
  .brand-imgs {
    min-width: 70%;
  }
  .brand-img {
    max-width: 20rem;
  }
  .git-btn {
    padding: 2rem 3.4rem 2rem;
  }
}
