.btn-error-solid {
  background: var(--COLOR-RED-500);
  color: var(--COLOR-WHITE);
}

.btn-error-solid:hover {
  background: var(--COLOR-RED-600);
}

.btn-primary-solid {
  background: var(--COLOR-BRAND);
  color: var(--COLOR-WHITE);
}

.btn-primary-solid:hover {
  background: var(--COLOR-BRAND-DARK);
}

.btn-secondary-solid {
  background: var(--COLOR-SLATE-500);
  color: var(--COLOR-WHITE);
}

.btn-secondary-solid:hover {
  background: var(--COLOR-SLATE-600);
}

.btn-success-solid {
  background: var(--COLOR-LIME-500);
  color: var(--COLOR-WHITE);
}

.btn-success-solid:hover {
  background: var(--COLOR-LIME-600);
}
