.nav-container {
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.4rem var(--COLOR-SLATE-500);
}

.img-brand-logo {
  max-height: 5rem;
  max-width: 5rem;
}

.mart-text::before {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 2.5rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  background: var(--COLOR-RED-500);
}
