img {
  max-inline-size: 100%;
  block-size: auto;
}

.mg-rl {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.card-container {
  width: 20rem;
  height: 50%;
  box-shadow: 0px 1px 5px 0px #888888;
  border-radius: 0 0 5px 5px;
  position: relative;
}
.random-img {
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.card-title {
  margin-top: 0;
  padding-top: 1rem;
}
.text-over-heading {
  position: absolute;
  top: 45%;
}
.flex-items {
  display: flex;
  gap: 0.4rem;
}
.card-subtitle {
  margin-bottom: 0;
  color: rgb(114, 113, 113);
  font-weight: 500;
}

.card-text {
  color: rgb(168, 167, 167);
  font-size: 0.9rem;
}

.card-btn {
  color: #075985;
  font-size: 1rem;
  font-weight: 700;
  padding: 3px;
  margin-left: 0;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.card-details {
  margin: 0 0.5rem;
  cursor: pointer;
}

.card-options {
  margin: 1rem 1rem 0.5rem 0.5rem;
}

.card-icon {
  color: #6c7581;
  cursor: pointer;
  padding: 0.5rem;
}

.fa-heart {
  margin-left: 1rem;
}

.fa-ellipsis-v {
  padding: 8px 12px;
}

.card-details:hover {
  background-color: #f8fafc;
}

.card-btn:hover {
  background-color: #f1f5f9;
}
.fa-share-alt:hover {
  border-radius: 50%;
  background-color: #f1f5f9;
}
.fa-heart:hover {
  border-radius: 50%;
  background-color: #f1f5f9;
}
.fa-ellipsis-v:hover {
  border-radius: 50px;
  background-color: #f1f5f9;
}
/* product-card */

.card-wrapper {
  max-width: 35%;
}

.product-card {
  border: 1px solid rgb(202, 201, 201);
  transition: all 0.3s ease;
}

.product-card:hover {
  box-shadow: 0px 0px 10px 0px #c7c7c7;
}
.product-card:hover .product-detail {
  transform: translateY(-45px);
}
.product-card:hover .product-size-div {
  display: flex;
}

.product-img {
  width: 100%;
}

.product-detail {
  padding: 0rem 0.5rem;
  transition: all 0.5s;
  background-color: rgb(255, 255, 255, 0.9);

  height: 8vh;
}
.product-brand {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 2px;
}

.product-info {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 2px;
}
.product-price {
  margin-bottom: 2px;
}
.product-price span:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 600;
}

.product-price span:nth-child(2) {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: var(--secondary-color);
}

.product-price span:nth-child(3) {
  font-size: 0.8rem;
  color: #ff715b;
}
.product-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: none;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  margin-top: 1.2rem;
  border-top: 1px solid rgb(202, 201, 201);
  transition: all 0.1s ease-in;
}

.product-btn:hover {
  font-size: 0.8rem;
  color: #ff715b;
}

.product-size-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;

  display: none;
}

.product-size-title {
  font-weight: 500;
  margin-top: 0.5rem;
}

.product-size > span {
  font-weight: 400;
  color: var(--secondary-color);
  margin: 0 0.3rem;
  padding: 0 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.product-size > span:hover {
  background-color: rgb(228, 226, 226);
}
