/*********************** Background ************************/

.bg-add-cart {
  background: var(--COLOR-ADD-CART);
}

.bg-add-cart-dark {
  background: var(--COLOR-ADD-CART-DARK);
}

.bg-add-cart-hover:hover {
  background: var(--COLOR-ADD-CART-DARK);
}

.bg-amber-500 {
  background: var(--COLOR-AMBER-500);
}

.bg-lime-200 {
  background: var(--COLOR-LIME-200);
}

.bg-lime-500 {
  background: var(--COLOR-LIME-500);
}

.bg-red-50 {
  background: var(--COLOR-RED-50);
}

.bg-red-500 {
  background: var(--COLOR-RED-500);
}

.bg-red-500-hover:hover {
  background: var(--COLOR-RED-500);
}

.bg-slate-50 {
  background: var(--COLOR-SLATE-50);
}

.bg-slate-300-hover:hover {
  background: var(--COLOR-SLATE-300);
}

.bg-slate-400 {
  background: var(--COLOR-SLATE-400);
}

.bg-stone {
  background: var(--COLOR-STONE);
}

.bg-unset {
  background: unset;
}

.bg-brand {
  background: var(--COLOR-BRAND);
}

.bg-brand-light {
  background: var(--COLOR-BRAND-LIGHT);
}

.bg-brand-dark-hover:hover {
  background: var(--COLOR-BRAND-DARK);
}

.bg-white {
  background: var(--COLOR-WHITE);
}

.bg-white-hover:hover {
  background: var(--COLOR-WHITE);
}

/**************************** -- ****************************/
