.border-none {
  border: none;
}

.border-bottom-medium {
  border-bottom-width: medium;
}

.border-bottom-thin {
  border-bottom-width: thin;
}

.border-bottom-solid {
  border-bottom-style: solid;
}

.border-brand {
  border-color: var(--COLOR-BRAND);
}

.border-lime-500 {
  border-color: var(--COLOR-LIME-500);
}

.border-slate-300 {
  border-color: var(--COLOR-SLATE-300);
}

.border-slate-500 {
  border-color: var(--COLOR-SLATE-500);
}

.border-slate-600-hover:hover {
  border-color: var(--COLOR-SLATE-600);
}

.border-solid {
  border-style: solid;
}

.border-thin {
  border-width: thin;
}

.border-y-solid {
  border-bottom-style: solid;
  border-top-style: solid;
}

.border-y-thin {
  border-bottom-width: thin;
  border-top-width: thin;
}
