.h-100pct {
  height: 100%;
}

.h-3p5 {
  height: 3.5rem;
}

.h-7 {
  height: 7rem;
}

.h-12 {
  height: 12rem;
}

.h-28 {
  height: 28rem;
}

.min-h-85 {
  min-height: 85vh;
}

.min-h-15 {
  min-height: 15vh;
}
