.list-circle {
  list-style: circle;
}

.list-disc {
  list-style: disc;
}

.list-lower-alpha {
  list-style: lower-alpha;
}

.list-lower-roman {
  list-style: lower-roman;
}

.list-square {
  list-style: square;
}
