.max-w-100pct {
  max-width: 100%;
}

.max-w-20 {
  max-width: 20rem;
}

.max-w-45 {
  max-width: 45rem;
}

.w-100pct {
  width: 100%;
}

.w-4 {
  width: 4rem;
}

.w-6p5 {
  width: 6.5rem;
}

.w-24 {
  width: 24rem;
}

.w-25 {
  width: 25rem;
}

.w-33 {
  width: 33rem;
}

.w-45 {
  width: 45rem;
}
