.badge {
  position: relative;
  width: max-content;
}

.badge-btn {
  background: none;
  border: none;
  color: var(--COLOR-SLATE-700);
  font-size: 2.5rem;
  position: relative;
}

.badge-count {
  align-items: center;
  border: thin solid var(--COLOR-SLATE-50);
  border-radius: 50%;
  color: var(--COLOR-WHITE);
  display: flex;
  font-size: 1.1rem;
  height: 1.5rem;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(60%, -30%);
  width: 1.5rem;
}

.badge-status {
  border: thin solid var(--COLOR-SLATE-50);
  border-radius: 50%;
  bottom: 0;
  height: 1.3rem;
  position: absolute;
  right: 5%;
  width: 1.3rem;
}
